
.sidebar{
    /* background-color: pink; */
    width: 200px;
}
.mail-items{
    margin-bottom: 3px;
}


.compose{
    background-color: rgb(154, 195, 236);
    border-radius: 10px;
    width: 150px;
    margin: auto;
    
}
.compose-icon{
    background-color: rgb(154, 195, 236);
    border-radius: 100%;
    width: 70px;
    margin: auto;
    padding: 10px;
}
.compose-button{
    background-color: dodgerblue;
    color: #fff;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    
}


.active{
    background-color: rgb(186, 218, 249);
}

.active-color{
    border: none;
    border-bottom: 1px solid rgb(235, 229, 229);

}

.title{
    color: rgb(237, 55, 186);
    font-weight: 200;
}
.visit-site{
    background-color: dodgerblue;
    border-radius: 15px;
    border:none;
    font-size: 11px;
    color: #fff;
    font-weight: 200;
}

.address{
    font-size: 12px;
}
.address-card{
    background-color: transparent;
    border: none;
}

.inbox-card{
    background-color: rgb(229, 236, 243);
    border: none;
}

.main-title{
    color: rgb(237, 55, 186);
}

.detail-section{
    background-color: rgb(229, 236, 243);
}
.detail-wrapper{
    background-color: rgb(229, 236, 243); ;
}

.reply, .forward{
    background-color: #f3b6f1;
    border-radius: 8px;
    min-width: 100px;
    border: none;
    font-weight: 200;
}